{% extends 'base.html' %}
{% load static %}

{% block header %}
<title>Catalog | Let's cook!</title>
{% endblock header %}

{% block content %}
<div class="container">
  {% for recipe in pages %}
  <div class="recipe__content">
    <h3 class="title"><a href="{% url 'detail' recipe.slug %}">{{ recipe.title }}</a></h3>
    <p class="description">{{ recipe.description }}</p>
    <div class="block-tags">
      {% for tag in recipe.tags.all %}
      <p class="tag"><a href="#">{{ tag }}</a></p>
      {% endfor %}
    </div>
    
    <div class="block-footer">
      <span>Created by: </span>
      <span class="creator"><a href="#">{{ recipe.user }}</a></span> |
      <span class="date">{{ recipe.create_date }}</span>
      
      {% if request.user.is_authenticated %}
      <div class="footer-btn">
        {% csrf_token %}
        <input type="hidden" value="{{ recipe.slug }}"/>
        <button class="btn small" onclick="AddToCart(this)">Add to cart</button>
      </div>
      {% endif %}
    </div>
  
  </div>
  
  {% if not forloop.last %}
  <hr>
  {% endif %}
  
  {% endfor %}
  <div class="pagination">
      <span class="step-links">
          {% if pages.has_previous %}
              <a href="?page=1" class="page-link">&laquo; первая</a>
              <a href="?page={{ pages.previous_page_number }}" class="page-link">предыдущая</a>
          {% endif %}
  
          <span class="current">
              Страница {{ pages.number }} из {{ pages.paginator.num_pages }}
          </span>
  
          {% if pages.has_next %}
              <a href="?page={{ pages.next_page_number }}" class="page-link">следующая</a>
              <a href="?page={{ pages.paginator.num_pages }}" class="page-link">последняя &raquo;</a>
          {% endif %}
      </span>
  </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'scripts/cart.js' %}"></script>
{% endblock scripts %}
